@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root {
    --col0: #c5ebd6;
    --col1: #83e1ad;
    --col2: #3ddc84;
    --col3: #2fa866;
    --col4: #1a5c37;
    --col5: #063d1e;

    --default-font: Arial, Verdana, Helvetica, sans-serif;
    --featured-font: 'Bebas Neue', sans-serif;
    --android-font: 'Idroid', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: var(--col0);
    font-family: var(--default-font);
}

a.extern::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--col3), var(--col5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-weight: normal;
    font-family: var(--featured-font);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .5);
}

header > p {
    color: white;
    font-family: var(--default-font);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .5);
}

nav {
    background-color: var(--col5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, .5);
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--col3);
    color: var(--col5);
    border-radius: 5px;
    transition-duration: .25s;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--col4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--col5);
    background-color: var(--col1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--col4);
}

main img {
    width: 100%;
}

main img.small {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--col5);
    margin: 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main h1 {
    color: var(--col5);
    font-family: var(--android-font);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--android-font);
    font-weight: normal;
    color: var(--col4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--col1), transparent);
    text-indent: 8px;
}

aside {
    background-color: var(--col1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .5);
}

aside h3 {
    background-color: var(--col4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--col5);
    color: white;
    text-align: center;
    font-size: .8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--col1);
}